.idea/
*.iml
out/
target/
store/

.DS_Store
Thumbs.db
/node_modules
/coverage
/build
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/.idea/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

backend/target
backend/.idea/

/test/node_modules/
/test/test-results/
/test/playwright-report/
/test/blob-report/
/test/playwright/
