/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-font-color-base: #aaa;
  --ifm-heading-color: #555;
  --ifm-background-color: #222;
  --ifm-line-height-base: 1.3;
  font-variant-ligatures: none;
  --ifm-color-primary: #6ea8fe;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-font-family-base: "SpaceMono", ui-monospace, SFMono-Regular, Menlo, Monaco,
  Consolas, "Liberation Mono", "Courier New", monospace;
}



@font-face {
  font-family: 'SpaceMono';
  src: url('../../static/fonts/space_mono/SpaceMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceMono';
  src: url('../../static/fonts/space_mono/SpaceMono-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SpaceMono';
  src: url('../../static/fonts/space_mono/SpaceMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceMono';
  src: url('../../static/fonts/space_mono/SpaceMono-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'EmojiSymbols';
  src: url('../../static/fonts/EmojiSymbols-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.pagination-nav {
  display: none;
}

.markdown table tbody tr:nth-child(even) {
  background-color: #222;
}

.markdown table tbody tr:nth-child(odd) {
  background-color: #262626;
}

.theme-edit-this-page {
  color: #3f4f67;
}

.navbar__item {
  font-weight: 500;
  letter-spacing: 0.02em;
  background-color: #1e1e1e60;
  margin: 5px;
}

.t_primary { color: #337ab7; }
.t_pri { color: #337ab7; }
.t_ok { /*color: #3c763d;*/ color: #5cb85c }
.t_info { /*color: #31708f;*/ color: #5bc0de; }
.t_warn { /*color: #a9443b;*/ color: #f0ad4e; }
.t_error { color: #d9534f; }
.t_mute {color: #585858; }
.t_b { font-weight: bold; }
.t_i { font-style: italic; }
.t_s { text-decoration: line-through; }
.t_u { text-decoration: underline; }
.t_us { text-decoration: underline line-through; }