

.ice-input-disabled {
    width: 187px;
    /* height: 24px; */
    border: #596166 1px solid;
    border-radius: 4px 0px 0px 4px;
    padding-top: 6px;
    padding-left: 10px;
    /* opacity: var(--bs-btn-disabled-opacity); */
    margin-right: 1px;
    top: 1px;
    position: relative;
}

.ice-input-eye {
    border-radius: 0px;
    height: 36px;
    top: 1px;
}

.ice-input-submit {
    border-radius: 0px 3px 3px 0px;
    height: 36px;
    top: 1px;
}

.status-light {
    border-radius: 15%;
    display: inline-block;
    margin: 20px;
}

.status-light-color-box {
    --status-light-color: red;

    background-color: var(--status-light-color);

    border: 4px solid color-mix(in srgb, var(--status-light-color) 80%, black);
    transition:
        background-color 1.5s ease,
        border-color 1.5s ease;

    padding: 1rem;
}

.status-light-editor-preview {

    background-color: var(--status-light-color);
    border: 2px solid color-mix(in srgb, var(--status-light-color) 80%, black);
    transition:
        background-color 0.2s ease,
        border-color 0.2s ease;
    padding: 1rem;
    border-radius: 15%;
    height: 10px;
    width: 10px;
    display: inline-block;
}

.switch-banner {
    background-color: var(--status-light-color); !important;
    border: 2px solid color-mix(in srgb, var(--status-light-color) 80%, black);
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

.appSwitch .switch {
    height: 30px;
    width: 80px !important;
}

.switchLabel {
    line-height: 35px;
}

.appSwitch .form-check-input {
    --switch-option-1-color: red;
    --switch-option-2-color: lime;

    background-color: var(--switch-option-1-color);
    border-color: color-mix(in srgb, var(--switch-option-1-color) 80%, black);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ffffff'/%3e%3c/svg%3e");
}

.appSwitch .form-check-input:checked {
    background-color: var(--switch-option-2-color);
    border-color: color-mix(in srgb, var(--switch-option-2-color) 80%, black);
}

.appSwitch .form-check-input:focus {
    outline: 0;
    box-shadow: 0 0 0 0;
}
