.passwordIcePanelRow {
    height: 800px;
    background-color: #333;
}

.untangleIcePanelRow {
    height: 890px;
    background-color: #333;
}

.iceDisplayTerminal {
    height: 120px;
}

.icePanelRow {
    height: 950px;
    background-color: #333;
}

.iceWsGrid {
    position: relative;
    z-index: 10;
    left: 5px;
    top: 15px;
}

.iceWsContainer_40 {
    padding: 4px;
    height: 40px;
}

.iceWsContainer_30 {
    padding: 3px;
    height: 30px;
}

/*.iceWsRow_ {*/
/*    !*height: 30px;*!*/
/*    height: 40px;*/
/*}*/

.iceWsElement_40 {
    color: #31708f;
    font-size: 18px;
    transition: background-color 0.5s, color 0.5s;

    padding-left: 10px;
    width: 32px;
    height: 30px;
    padding-top: 3px;
}

.iceWsElement_30 {
    color: #31708f;
    font-size: 16px;
    transition: background-color 0.5s, color 0.5s;

    padding-left: 6px;
    height: 22px;
    width: 24px;

    padding-top: 1px;
}


.ws {
    position: relative;
    top: -2px
}

.wsCORRECT {
    transition: background-color 2s, color 2s;
    background-color: #0004;
}

.wsSELECTED {
    transition: background-color 1s, color 2s;
    background-color: #8886;
    color: #000;
}

.wsSOLUTION {
    /*background-color: #333;*/
    /*color: #31708f66;*/
}

.wsCORRECT_HIGHLIGHT {
    background-color: #54bffc60;
    color: #000;
}

.wsUNKNOWN {
    background-color: #f00;
    color: #fff;
}

.wsA:before { content: "A"; }
.wsB:before { content: "B"; }
.wsC:before { content: "C"; }
.wsD:before { content: "D"; }
.wsE:before { content: "E"; }
.wsF:before { content: "F"; }
.wsG:before { content: "G"; }
.wsH:before { content: "H"; }
.wsI:before { content: "I"; }
.wsJ:before { content: "J"; }
.wsK:before { content: "K"; }
.wsL:before { content: "L"; }
.wsM:before { content: "M"; }
.wsN:before { content: "N"; }
.wsO:before { content: "O"; }
.wsP:before { content: "P"; }
.wsQ:before { content: "Q"; }
.wsR:before { content: "R"; }
.wsS:before { content: "S"; }
.wsT:before { content: "T"; }
.wsU:before { content: "U"; }
.wsV:before { content: "V"; }
.wsW:before { content: "W"; }
.wsX:before { content: "X"; }
.wsY:before { content: "Y"; }
.wsZ:before { content: "Z"; }

.wsa:before { content: "a"; }
.wsb:before { content: "b"; }
.wsc:before { content: "c"; }
.wsd:before { content: "d"; }
.wse:before { content: "e"; }
.wsf:before { content: "f"; }
.wsg:before { content: "g"; }
.wsh:before { content: "h"; }
.wsi:before { content: "i"; }
.wsj:before { content: "j"; }
.wsk:before { content: "k"; }
.wsl:before { content: "l"; }
.wsm:before { content: "m"; }
.wsn:before { content: "n"; }
.wso:before { content: "o"; }
.wsp:before { content: "p"; }
.wsq:before { content: "q"; }
.wsr:before { content: "r"; }
.wss:before { content: "s"; }
.wst:before { content: "t"; }
.wsu:before { content: "u"; }
.wsv:before { content: "v"; }
.wsw:before { content: "w"; }
.wsx:before { content: "x"; }
.wsy:before { content: "y"; }
.wsz:before { content: "z"; }

.ws0:before { content: "0"; }
.ws1:before { content: "1"; }
.ws2:before { content: "2"; }
.ws3:before { content: "3"; }
.ws4:before { content: "4"; }
.ws5:before { content: "5"; }
.ws6:before { content: "6"; }
.ws7:before { content: "7"; }
.ws8:before { content: "8"; }
.ws9:before { content: '9'; }

.ws32:before { content: " "; }
.ws33:before { content: "!"; }
.ws34:before { content: "\""; }
.ws35:before { content: "#"; }
.ws36:before { content: "$"; }
.ws37:before { content: "%"; }
.ws38:before { content: "&"; }
.ws39:before { content: "'"; }
.ws40:before { content: "("; }
.ws41:before { content: ")"; }
.ws42:before { content: "*"; }
.ws43:before { content: "+"; }
.ws44:before { content: ","; }
.ws45:before { content: "-"; }
.ws46:before { content: "."; }
.ws47:before { content: "/"; }
.ws58:before { content: ":"; }
.ws59:before { content: ";"; }
.ws60:before { content: "<"; }
.ws61:before { content: "="; }
.ws62:before { content: ">"; }
.ws63:before { content: "?"; }
.ws64:before { content: "@"; }
.ws91:before { content: "["; }
.ws92:before { content: "\\"; }
.ws93:before { content: "]"; }
.ws94:before { content: "^"; }
.ws95:before { content: "_"; }
.ws96:before { content: "`"; }
.ws123:before { content: "{"; }
.ws124:before { content: "|"; }
.ws125:before { content: "}"; }
.ws126:before { content: "~"; }
