.terminalPanel {
    background-color: #222222;
    height: 780px;
}

.terminalLine {
    font-family: monospace;
    /*font-family: FreeMono, monospace; this don't work on Android */
    color: #aaa;
    background-color: #222222;
    font-size: 12px;
    line-height: 14px;
}

.terminalInput {
    border: none;
    background-color: #222222;
    outline: none;
    -webkit-appearance: none;
}

.terminalCaret {
    display: inline-block;
    background-color: #2e6da4;
    width: 7px;
}

.terminal_input {
    text-shadow: 0 0 3px rgba(0, 53, 187);
}

.terminal_style_ok {
    color: #3c763d;
}

.terminal_style_info {
    color: #31708f;
}

.terminal_style_warn {
    color: #a9443b;
}

.terminal_style_b {
    font-weight: bold;
}

.terminal_style_i {
    font-style: italic;
}

.terminal_style_u {
    text-decoration: underline;
}
