.terminalPanel {
    word-wrap: break-word;
    font-size: var(--app-font-size);
    line-height: var(--app-line-height);
    padding-left: 12px;
    padding-right: 12px;
    width: 640px;
}

.terminalLine {
    color: #aaa;
}

.terminalLink {
    color: #0dcaf0;
}

.terminalInput {
    border: none;
    background-color: #222222;
    outline: none;
    -webkit-appearance: none;
}

.terminalCaret {
    display: inline-block;
    background-color: #2e6da4;
    width: 7px;
}

.terminal_input { text-shadow: 0 0 3px rgb(145, 141, 0); }

.t_primary { color: #337ab7; }
.t_pri { color: #337ab7; }
.t_ok { /*color: #3c763d;*/ color: #5cb85c }
.t_info { /*color: #31708f;*/ color: #5bc0de; }
.t_warn { /*color: #a9443b;*/ color: #f0ad4e; }
.t_error { color: #d9534f; }
.t_mute {color: #585858; }
.t_b { font-weight: bold; }
.t_i { font-style: italic; }
.t_s { text-decoration: line-through; }
.t_u { text-decoration: underline; }
.t_us { text-decoration: underline line-through; }

.terminal_scrollbar {
    overflow-y : auto;
    scrollbar-width: thin;
    scrollbar-color: #666 #444;
}

.terminal_scrollbar::-webkit-scrollbar {
    width: 10px;
}

.terminal_scrollbar::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 5px;
}

.terminal_scrollbar::-webkit-scrollbar-track {
    background: #444;
    border-radius: 5px;
}

.terminalPreview {
    background-color: #222;
    margin-bottom: 7px;
    padding: 3px 3px 8px 3px;
    border-radius: 3px 3px 3px 3px;
}
